.App {
  font-family: sans-serif;
  text-align: center;
}

.search-desktop {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
