.App {
  font-family: sans-serif;
  text-align: center;
}

.search-desktop {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.invite-member {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.invite-member p {
  font-size: 0.5rem;
  font-weight: lighter;
}

.accountBox {
  background-color: aquamarine;
  min-width: 100px;
}
